header, section, footer, aside, nav, article, figure, figcaption {display: block;}
body {
	color: #063E53;
	background-color: #FAF9F4;
	background-image: URL
	background-position: center;
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 1.5em;
	margin: 0px;
	}
.wrapper {
	width: 940px;
	margin: 20px auto 20px auto;
	border: 1px solid #F4AC42;
	background-color: #ffffff;
	}
h1 {
	text-indent: 5px;
	width: 940px;
	height:60px;
	margin: 0px;
	}
header {
	height: 100px;
	background-color: #777777;
	padding: 5px;
	}		
h1 {
	width: 940px;	
	}			
nav, footer {
	clear: both;
	color: #FFFFFF;
	background-color: #063E53;
	height: 30px;
	padding: 5px;
	}	
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
	}	
nav li {
	display: inline;
	margin-right:60px;
	}	
nav li a {
	color: #FFF;
	}
nav li a:hover, nav li a:current {
	color: #0033CC;
	}
section.about {
	float: left;
	width: 100%;
	}
article {
	clear: both;
	overflow: auto;
	width: 100%;
	}
figure {
	float: left;
	padding: 5px;
	margin: 10px;
	}

